<div class="centered">
  <%= form_with url: games_tic_tac_toe_index_path, method: :post do |form| %>
    <%= form.submit "Play Tic Tac Toe Game", type: "submit", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
